**Importing Libraries**

In [1]:
import pandas as pd
import numpy as np
import random

# Definindo a semente para reprodução
np.random.seed(42)
random.seed(42)

**Reading Files**

In [2]:
magic_items = pd.read_csv('data/magic_items.csv', sep=';')
adventure_gear = pd.read_csv('data/adventuring_gear.csv', sep=';')
armor = pd.read_csv('data/armor.csv', sep=';')
poisons = pd.read_csv('data/poisons.csv', sep=';')
potions = pd.read_csv('data/potions.csv', sep=';')
weapons = pd.read_csv('data/weapons.csv', sep=';')
names = pd.read_csv('data/names.csv', sep=';')

In [3]:
magic_items.head()

   item_id                 Name     Price     Rarity          Category
0  001-ACo  Ammunition +1 (Per)     15 gp   Uncommon  Consumable Items
1  002-ACo  Ammunition +2 (Per)     50 gp       Rare  Consumable Items
2  003-ACo  Ammunition +3 (Per)    250 gp  Very Rare  Consumable Items
3  004-ACo     Arrow of Slaying    400 gp  Very Rare  Consumable Items
4  005-BCo        Bead of Force  1,000 gp       Rare  Consumable Items

In [4]:
adventure_gear.head()

  item_id                      Name  Price Weight        type
0  01-Ars                    Abacus   2 gp  2 lb.      Others
1  02-Ars               Acid (vial)  25 gp  1 lb.      Others
2  03-Ars  Alchemist's Fire (flask)  50 gp  1 lb.      Others
3  04-Aon               Arrows (20)   1 gp  1 lb.  Ammunition
4  05-Bon       Blowgun Needle (50)   1 gp  1 lb.  Ammunition

In [5]:
weapons.head()

,item_id,Name,Price,Damage,Weight,Properties,type
0,01-Cns,Club,1 sp,1d4 Bludgeon,2 lb.,Light,Simple Melee Weapons
1,02-Dns,Dagger,2 gp,1d4 Piercing,1 lb.,"Finesse, Light, Thrown (20/60)",Simple Melee Weapons
2,03-Gns,Greatclub,2 sp,1d8 Bludgeon,10 lb.,Two-handed,Simple Melee Weapons
3,04-Hns,Handaxe,5 gp,1d6 Slashing,2 lb.,"Light, Thrown (20/60)",Simple Melee Weapons
4,05-Jns,Javelin,5 sp,1d6 Piercing,2 lb.,Thrown (30/120),Simple Melee Weapons

In [6]:
armor.head()

,item_id,Name,Price,AC,Weight,Requirements,Stealth,type
0,01-Por,Padded,5 gp,11 + Dex,8 lb.,NaN,Disadvantage,Light Armor
1,02-Lor,Leather,10 gp,11 + Dex,10 lb.,NaN,NaN,Light Armor
2,03-Sor,Studded Leather,45 gp,12 + Dex,13 lb.,NaN,NaN,Light Armor
3,04-Hor,Hide,10 gp,12 + Dex(max2),12 lb.,NaN,NaN,Medium Armor
4,05-Cor,Chain Shirt,50 gp,13 + Dex(max2),20 lb.,NaN,NaN,Medium Armor

In [7]:
potions.head()

  item_id                        Name     Price     Rarity
0  01-Pon           Potion of Healing     50 gp     Common
1  02-Pon   Potion of Greater Healing    150 gp   Uncommon
2  03-Pre  Potion of Superior Healing   450 gp        Rare
3  04-Pre   Potion of Supreme Healing  1,350 gp  Very Rare
4  05-Ere            Elixir of Health    120 gp       Rare

In [8]:
poisons.head()

  item_id                   Name   Price      Type    DC
0  01-Aed       Assassin's blood  150 gp  Ingested  10.0
1  02-Ted            Truth serum  150 gp  Ingested  11.0
2  03-Cct  Carrion crawler mucus  200 gp   Contact  13.0
3  04-Dry            Drow poison  200 gp    Injury  13.0
4  05-Sry          Serpent venom  200 gp    Injury  11.0

****

# **Data Creation**

**Passos:**

1. Filtrar as Raridades dos itens
1. Criar uma tabela que contenha todos os produtos
    * A tabela deve ter apenas informações básicas sobre os itens, como: id | nome | preço | tipo.
1. Criar uma tabela com as informações dos clientes
1. Criar a tabela fato de **vendas**

### **Filtrar Raridades:**

In [9]:
magic_items['Rarity'].value_counts()

Rare         114
Uncommon      83
Very Rare     63
Legendary     38
Common         2
Name: Rarity, dtype: int64

Como eu pretendo simular as vendas de um vendedor comum, não vou usar itens que sejam: Very Rare, Legendary.

In [10]:
# função para filtrar a raridade dos items
def filter_rarity(dataframe):
    unwanted = ['Very Rare', 'Legendary']
    df = dataframe.copy()
    df = df.query("Rarity not in @unwanted")
    return df

In [11]:
magic_items_filtered = filter_rarity(magic_items)

In [12]:
magic_items_filtered['Rarity'].value_counts()

Rare        114
Uncommon     83
Common        2
Name: Rarity, dtype: int64

In [13]:
potions_filtered =  filter_rarity(potions)

In [14]:
potions_filtered['Rarity'].value_counts()

Uncommon    10
Rare        10
Common       2
Name: Rarity, dtype: int64

Nenhum outro Dataset tem a coluna 'Rarity'

### **Criar tabela Produtos**

Primeiramente devo mudar as colunas 'type' para 'cetegory', depois criar uma nova coluna 'type' com o tipo de item de cada dataset.

In [15]:
# função para substituir a coluna type e colocar os nomes das colunas em minúsculo
def replace_lower_column(df):
    df = df.columns.str.lower().str.replace('type', 'category')
    return df

In [16]:
adventure_gear.columns = replace_lower_column(adventure_gear)
magic_items_filtered.columns = replace_lower_column(magic_items_filtered)
armor.columns = replace_lower_column(armor)
weapons.columns = replace_lower_column(weapons)
potions_filtered.columns =  replace_lower_column(potions_filtered)
poisons.columns = replace_lower_column(poisons)

**Criando as novas colunas 'type':**

In [17]:
adventure_gear['type'] = 'adventure_gear'
magic_items_filtered['type'] = 'magic_item'
weapons['type'] = 'weapon'
potions_filtered['type'] = 'potion'
poisons['type'] = 'poison'
armor['type'] = 'armor'

**Criando a tabela Produtos:**

| id | nome | preço | tipo |

In [19]:
wanted_cols = ['item_id', 'name', 'price', 'type']

In [20]:
product = magic_items_filtered[wanted_cols].copy()

In [21]:
product = pd.concat([product,
                     adventure_gear[wanted_cols],
                     weapons[wanted_cols],
                     armor[wanted_cols],
                     potions_filtered[wanted_cols],
                     poisons[wanted_cols]],
                     ignore_index=True)

In [22]:
product['type'].value_counts()

magic_item        199
adventure_gear    109
weapon             37
potion             22
poison             16
armor              13
Name: type, dtype: int64

In [23]:
product.head()

   item_id                 name     price        type
0  001-ACo  Ammunition +1 (Per)     15 gp  magic_item
1  002-ACo  Ammunition +2 (Per)     50 gp  magic_item
2  005-BCo        Bead of Force  1,000 gp  magic_item
3  006-CCo     Chime of Opening    400 gp  magic_item
4  007-DCo    Deck of Illusions    900 gp  magic_item

In [24]:
# testando o relacionamento das tabelas
MI_itemID =  random.choices(product['item_id'].loc[product['type'] == 'magic_item'])
magic_items_filtered.query('item_id == @MI_itemID')

     item_id                  name   price rarity      category        type
192  193-ICo  Ioun Stone Awareness  500 gp   Rare  Combat Items  magic_item

O relacionamento está funcionando como o desejado.

## **Criar a Tabela Cliente**

**Atributos do cliente:**


* id
* nome
* sexo
* idade
* raça
* classe
* endereço (cidade) (talvez)
* contato (talvez)

In [25]:
# checando duplicatas
names.duplicated().sum()

45

In [26]:
names.drop_duplicates(inplace=True)

In [27]:
names.shape

(365, 2)

referência = https://bg3.wiki/wiki/Races

In [28]:
races = pd.read_csv('data/races.csv', sep=';')
races

           race  base_age  max_age maximum_age_range
0   Dragonborn         15       80         80 + 1d20
1          Drow        80      225       225 + 3d100
2         Dwarf        50      350       300 + 2d100
3           Elf        90      750       425 + 5d100
4     Githyanki        30      250       250 + 1d100
5         Gnome        60      200       200 + 3d100
6      Half-Elf        15      125        125 + 3d20
7      Halfling        20      100       100 + 1d100
8      Half-Orc        12       60         90 + 2d20
9         Human        15       90         90 + 2d20
10     Tiefling        17      100       100 + 1d100

referência: https://www.dndbeyond.com/sources/basic-rules/classes#ClassesSummary

In [29]:
classes = pd.read_csv('data\classes.csv', sep=';')
classes

,Class,Armor,Weapon
0,Barbarian,"Light armor, medium armor, shields","Simple weapons, martial weapons"
1,Bard,Light armor,"simple weapons, hand crossbows, longswords, ra..."
2,Cleric,"Light armor, medium armor, shields",Simple weapons
3,Druid,"Light armor, medium armor, shields","Clubs, daggers, darts, javelins, maces, quarte..."
4,Fighter,"Light armor, medium armor, heavy armor, shields","Simple weapons, martial weapons"
5,Monk,None,"Simple weapons, shortswords"
6,Paladin,"Light armor, medium armor, heavy armor, shields","Simple weapons, martial weapons"
7,Ranger,"Light armor, medium armor, shields","Simple weapons, martial weapons"
8,Rogue,Light armor,"Simple weapons, hand crossbows, longswords, ra..."
9,Sorcerer,None,"Daggers, darts, slings, quarterstaffs, light c..."
10,Warlock,Light armor,simple weapons
11,Wizard,None,"Daggers, darts, slings, quarterstaffs, light c..."

A tabela de cliente deve ter a seguinte estrutura:

| customer_id| name    | sex      | race     | age     | class   |
| -------- | ------- | -------- | ------- | -------- | ------- |
| -------- |-------- | -------- | ------- | -------- | ------- |
| -------- | --------| -------- | ------- | -------- | ------- |
| -------- | --------| -------- | ------- | -------- | ------- |

In [30]:
import time
import string

# criando função para gerar IDs
def generate_custom_id():
    """Function to generate random IDs"""
    timestamp = str(int(time.time()))
    random_chars = ''.join(random.choices(string.ascii_uppercase + string.digits, k=6))
    return f"{timestamp}-{random_chars}"   # return new unique ID

In [31]:
# random ID
custom_id = generate_custom_id()
print(custom_id)

1701806540-AJI0Y6

In [32]:
# criando um dataframe com os randoms IDs
customers = pd.DataFrame({
    'customer_id': [generate_custom_id() for i in range(1, names.shape[0] + 1)]})
customers

           customer_id
0    1701806540-DPBHSA
1    1701806540-HXTHV3
2    1701806540-A3ZMF8
3    1701806540-MDD4V3
4    1701806540-0T9NT3
..                 ...
360  1701806540-BC76UB
361  1701806540-7L8V1Z
362  1701806540-OCFI4O
363  1701806540-6L1F90
364  1701806540-S9BP4M

[365 rows x 1 columns]

In [33]:
# checando IDs duplicados
customers.duplicated().sum()

0

In [34]:
names.isna().sum()

name    0
sex     0
dtype: int64

In [35]:
# resetando os índices
names.reset_index(drop=True, inplace=True)

In [36]:
# inserindo os nomes e sexos na tabela de clientes
customers["name"] = names['name']
customers["sex"] = names['sex']

In [37]:
customers

           customer_id                 name     sex
0    1701806540-DPBHSA     Veklani  Daargen  female
1    1701806540-HXTHV3     Kasaki  Wygarthe  female
2    1701806540-A3ZMF8   Rosalyn  Faringray  female
3    1701806540-MDD4V3         Atalya  Webb  female
4    1701806540-0T9NT3   Grenenzel  Lyfalia  female
..                 ...                  ...     ...
360  1701806540-BC76UB       Brey  Danamark  female
361  1701806540-7L8V1Z       Remora  Lamoth  female
362  1701806540-OCFI4O        Ronefel  Irva  female
363  1701806540-6L1F90     Sachil  Redraven  female
364  1701806540-S9BP4M   Pharana  Skandalor  female

[365 rows x 3 columns]

In [38]:
races['race'].unique()

array(['Dragonborn\xa0', 'Drow', 'Dwarf', 'Elf', 'Githyanki', 'Gnome',
       'Half-Elf', 'Halfling', 'Half-Orc', 'Human', 'Tiefling'],
      dtype=object)

In [39]:
# limpando a coluna 'race'
races['race'] = races['race'].str.replace('\xa0', '').str.strip()

In [40]:
customers['race'] = [random.choice(list(races['race'])) for _ in range(names.shape[0])]

Agora vem uma etapa não tão simples, a idade, cada raça tem um período de vida diferente e pretendo conservar essas características também.

In [41]:
# criando a função que irá gerar a idade aleatória baseada da raça que foi dada
def random_age(X):
    """This function returns a random age based on the race"""
    race_infos = races[races['race'] == X].reset_index(drop=True)
    return random.randint(race_infos['base_age'][0], race_infos['max_age'][0])

In [42]:
customers['age'] = customers['race'].apply(random_age)

Agora resta apenas escolher as classes para cada cliente.

In [43]:
customers['class'] = [random.choice(list(classes['Class'])) for _ in range(customers.shape[0])]

Conferindo a estrutura da tabela:

| customer_id| name    | sex      | race     | age     | class   |
| -------- | ------- | -------- | ------- | -------- | ------- |
| -------- |-------- | -------- | ------- | -------- | ------- |
| -------- | --------| -------- | ------- | -------- | ------- |
| -------- | --------| -------- | ------- | -------- | ------- |

In [48]:
customers.sample(n=10, random_state=42)

           customer_id                  name     sex       race  age    class
193  1701806540-BOVAKH       Dyrk  Faringray    male   Half-Orc   20  Paladin
33   1701806540-HOCN9J   Krystolari  Zatchet  female       Drow  115    Druid
15   1701806540-T84AZY    Praxana  Faringray  female   Tiefling  100   Cleric
309  1701806540-SDYGFL     Thurlfara  Ratley  female      Dwarf  304    Rogue
57   1701806540-O9T7E8    Fenryl  Cuttlescar  female      Human   31  Paladin
183  1701806540-5Z8VMU        Leyten  Thirya    male   Tiefling   73  Fighter
76   1701806540-LTEIYZ     Lokara  Caskajaro  female  Githyanki  233    Druid
119  1701806540-84U89Y         Nerle  Welfer    male      Gnome  169   Cleric
152  1701806540-ZX4W6X         Dyrk  Varzand    male   Tiefling   60   Cleric
126  1701806540-HT7PZE        Lavant  Zereni    male   Half-Elf   98    Druid

## **Criar a tabela de Vendas**

In [124]:
from datetime import datetime, timedelta

**Minhas tabelas:**
* adventure_gear
* magic_items_filtered
* weapons
* potions_filtered
* poisons
* armor
* product

A tabela sales deve seguir a estrutura:

| sale_id  | date    | customer_id | product_id    | product_name | quantity| unit_price | 
| -------- | ------- | ----------- | --------------| -------------| ------- |------- |
| -------- |-------- | ----------- | --------------| -------------| ------- |------- |
| -------- | --------| ----------- | --------------| -------------| ------- |------- |
| -------- | --------| ----------- | --------------| -------------| ------- |------- |

In [108]:
# criando função para gerar IDs para tabela sales
def generate_sale_id():
    """Function to generate random sale_IDs.
    
    This will return a random string with length = 11 chars"""
    timestamp = str(int(time.time_ns()))
    random_chars = ''.join(random.choices(string.ascii_uppercase + string.digits, k=4))
    return f"{timestamp[13:]}-{random_chars}"   # return new unique ID

In [110]:
print("Exemplo de sale_id: ", generate_sale_id())

Exemplo de sale_id:  422900-KDOT

Agora eu preciso criar uma lógica na geração das vendas de modo que reflita a proeficiênca de cada classe sobre os tipos de itens que elas possam usar.

In [ ]:
product['price'].unique()

In [122]:
# removendo observações no campo de preço
product['price'] = product['price'].str.replace('Armor + ', '', regex=False).str.strip()

In [ ]:
product['price'].unique()

In [145]:
pd.set_option('display.max_colwidth', None)

In [214]:
# escolhendo um cliente aleatório
cliente_classe = customers.sample(n=1, random_state= 42)
cliente_classe['class'].item()

'Paladin'

In [356]:
# salvando as proeficiências de armaduras e armas para a classe do cliente aleatório
cl_weapon = classes['Weapon'].loc[
    classes['Class'] == cliente_classe.iloc[:, 5].item()].reset_index(drop=True) # proeficiência das armas

cl_armor = classes['Armor'].loc[
    classes['Class'] == cliente_classe.iloc[:, 5].item()].reset_index(drop=True) # proeficiência das armaduras

In [339]:
cl_weapon

0    Simple weapons, martial weapons
Name: Weapon, dtype: object

In [259]:
# padronizando a tabela 'weapons' e 'classes'
weapons["category"] = weapons["category"].str.replace('Melee ', '').str.replace('Ranged ', '')
weapons["name"] = weapons["name"].str.replace('Crossbow, light', 'Light Crossbow').str.replace('Crossbow, hand', 'Hand Crossbow')\
                                 .str.replace('Crossbow, heavy', 'Heavy Crossbow')

In [ ]:
classes

In [ ]:
product

In [266]:
cliente_classe

           customer_id              name   sex      race  age    class
193  1701806540-BOVAKH   Dyrk  Faringray  male  Half-Orc   20  Paladin

In [357]:
cl_weapon = str.lower(cl_weapon[0]).split(',')
cl_weapon = [i.strip() for i in cl_weapon]

In [374]:
cl_weapon

['simple weapons', 'martial weapons']

In [373]:
weapons.query('category.str.lower() in @cl_weapon')

,item_id,name,price,damage,weight,properties,category,type
0,01-Cns,Club,1 sp,1d4 Bludgeon,2 lb.,Light,Simple Weapons,weapon
1,02-Dns,Dagger,2 gp,1d4 Piercing,1 lb.,"Finesse, Light, Thrown (20/60)",Simple Weapons,weapon
2,03-Gns,Greatclub,2 sp,1d8 Bludgeon,10 lb.,Two-handed,Simple Weapons,weapon
3,04-Hns,Handaxe,5 gp,1d6 Slashing,2 lb.,"Light, Thrown (20/60)",Simple Weapons,weapon
4,05-Jns,Javelin,5 sp,1d6 Piercing,2 lb.,Thrown (30/120),Simple Weapons,weapon
5,06-Lns,Light hammer,2 gp,1d4 Bludgeon,2 lb.,"Light, Thrown (20/60)",Simple Weapons,weapon
6,07-Mns,Mace,5 gp,1d6 Bludgeon,5 lb.,-,Simple Weapons,weapon
7,08-Qns,Quarterstaff,2 sp,1d6 Bludgeon,5 lb.,Versatile (1d8),Simple Weapons,weapon
8,09-Sns,Sickle,1 gp,1d4 Slashing,2 lb.,Light,Simple Weapons,weapon
9,10-Sns,Spear,1 gp,1d6 Piercing,3 lb.,"Thrown (20/60), Versatile (1d8)",Simple Weapons,weapon
10,11-Cns,Light Crossbow,25 gp,1d6 Piercing,5 lb.,"Ammunition (80/320), Loading, Two-handed",Simple Weapons,weapon
11,12-Dns,Dart,5 cp,1d4 Piercing,.25 lb.,"Finesse, Thrown (20/60)",Simple Weapons,weapon
12,13-Sns,Shortbow,25 gp,1d6 Piercing,2 lb.,"Ammunition (80/320), Two-handed",Simple Weapons,weapon
13,14-Sns,Sling,1 sp,1d4 Bludgeon,-,Ammunition (30/120),Simple Weapons,weapon
14,15-Bns,Battleaxe,10 gp,1d8 Slashing,4 lb.,Versatile (1d10),Martial Weapons,weapon
15,16-Fns,Flail,10 gp,1d8 Bludgeon,2 lb.,-,Martial Weapons,weapon
16,17-Gns,Glaive,20 gp,1d10 Slashing,6 lb.,"Heavy, Reach, Two-handed",Martial Weapons,weapon
17,18-Gns,Greataxe,30 gp,1d12 Slashing,7 lb.,"Heavy, Two-handed",Martial Weapons,weapon
18,19-Gns,Greatsword,50 gp,2d6 Slashing,6 lb.,"Heavy, Two-handed",Martial Weapons,weapon
19,20-Hns,Halberd,20 gp,1d10 Slashing,6 lb.,"Heavy, Reach, Two-handed",Martial Weapons,weapon
20,21-Lns,Lance,10 gp,1d12 Piercing,6 lb.,"Reach, Special",Martial Weapons,weapon
21,22-Lns,Longsword,15 gp,1d8 Slashing,3 lb.,Versatile (1d10),Martial Weapons,weapon
22,23-Mns,Maul,10 gp,2d6 Bludgeon,10 lb.,"Heavy, Two-handed",Martial Weapons,weapon
23,24-Mns,Morningstar,15 gp,1d8 Piercing,4 lb.,-,Martial Weapons,weapon
24,25-Pns,Pike,5 gp,1d10 Piercing,18 lb.,"Heavy, Reach, Two-handed",Martial Weapons,weapon
25,26-Rns,Rapier,25 gp,1d8 Piercing,2 lb.,Finesse,Martial Weapons,weapon
26,27-Sns,Scimitar,25 gp,1d6 Slashing,3 lb.,"Finesse, Light",Martial Weapons,weapon
27,28-Sns,Shortsword,10 gp,1d6 Slashing,2 lb.,"Finesse, Light",Martial Weapons,weapon
28,29-Tns,Trident,5 gp,1d6 Piercing,5 lb.,"Thrown (20/60), Versatile (1d8)",Martial Weapons,weapon
29,30-Wns,War pick,5 gp,1d8 Piercing,2 lb.,-,Martial Weapons,weapon
30,31-Wns,Warhammer,15 gp,1d8 Bludgeon,2 lb.,Versatile (1d10),Martial Weapons,weapon
31,32-Wns,Whip,2 gp,1d4 Slashing,3 lb.,"Finesse, Reach",Martial Weapons,weapon
32,33-Bns,Blowgun,10 gp,1 Piercing,1 lb.,"Ammunition (25/100), Loading",Martial Weapons,weapon
33,34-Cns,Hand Crossbow,75 gp,1d6 Piercing,3 lb.,"Ammunition (30/120), Loading, Light",Martial Weapons,weapon
34,35-Cns,Heavy Crossbow,50 gp,1d10 Piercing,18 lb.,"Ammunition (100/400), Loading, Two-handed, Heavy",Martial Weapons,weapon
35,36-Lns,Longbow,50 gp,1d8 Piercing,2 lb.,"Ammunition (150/600), Heavy, Two-handed",Martial Weapons,weapon
36,37-Nns,Net,1 gp,-,3 lb.,"Special, Thrown (5/15)",Martial Weapons,weapon

In [ ]:
random.choices()

In [291]:
['simple weapons', 'martial weapons'] in list(weapons['category'].str.lower())

False