**Importing Libraries**

In [2]:
import pandas as pd
import numpy as np
import random

# Definindo a semente para reprodução
np.random.seed(42)
random.seed(42)

**Reading Files**

In [154]:
magic_items = pd.read_csv('data/magic_items.csv', sep=';')
adventure_gear = pd.read_csv('data/adventuring_gear.csv', sep=';')
armor = pd.read_csv('data/armor.csv', sep=';')
poisons = pd.read_csv('data/poisons.csv', sep=';')
potions = pd.read_csv('data/potions.csv', sep=';')
weapons = pd.read_csv('data/weapons.csv', sep=';')
names = pd.read_csv('data/names.csv', sep=';')

In [3]:
magic_items.head()

   item_id                 Name     Price     Rarity          Category
0  001-ACo  Ammunition +1 (Per)     15 gp   Uncommon  Consumable Items
1  002-ACo  Ammunition +2 (Per)     50 gp       Rare  Consumable Items
2  003-ACo  Ammunition +3 (Per)    250 gp  Very Rare  Consumable Items
3  004-ACo     Arrow of Slaying    400 gp  Very Rare  Consumable Items
4  005-BCo        Bead of Force  1,000 gp       Rare  Consumable Items

In [8]:
adventure_gear.head()

  item_id                      Name  Price Weight        type
0  01-Ars                    Abacus   2 gp  2 lb.      Others
1  02-Ars               Acid (vial)  25 gp  1 lb.      Others
2  03-Ars  Alchemist's Fire (flask)  50 gp  1 lb.      Others
3  04-Aon               Arrows (20)   1 gp  1 lb.  Ammunition
4  05-Bon       Blowgun Needle (50)   1 gp  1 lb.  Ammunition

In [6]:
weapons.head()

,item_id,Name,Price,Damage,Weight,Properties,type
0,01-Cns,Club,1 sp,1d4 Bludgeon,2 lb.,Light,Simple Melee Weapons
1,02-Dns,Dagger,2 gp,1d4 Piercing,1 lb.,"Finesse, Light, Thrown (20/60)",Simple Melee Weapons
2,03-Gns,Greatclub,2 sp,1d8 Bludgeon,10 lb.,Two-handed,Simple Melee Weapons
3,04-Hns,Handaxe,5 gp,1d6 Slashing,2 lb.,"Light, Thrown (20/60)",Simple Melee Weapons
4,05-Jns,Javelin,5 sp,1d6 Piercing,2 lb.,Thrown (30/120),Simple Melee Weapons

In [7]:
armor.head()

,item_id,Name,Price,AC,Weight,Requirements,Stealth,type
0,01-Por,Padded,5 gp,11 + Dex,8 lb.,NaN,Disadvantage,Light Armor
1,02-Lor,Leather,10 gp,11 + Dex,10 lb.,NaN,NaN,Light Armor
2,03-Sor,Studded Leather,45 gp,12 + Dex,13 lb.,NaN,NaN,Light Armor
3,04-Hor,Hide,10 gp,12 + Dex(max2),12 lb.,NaN,NaN,Medium Armor
4,05-Cor,Chain Shirt,50 gp,13 + Dex(max2),20 lb.,NaN,NaN,Medium Armor

In [9]:
potions.head()

  item_id                        Name     Price     Rarity
0  01-Pon           Potion of Healing     50 gp     Common
1  02-Pon   Potion of Greater Healing    150 gp   Uncommon
2  03-Pre  Potion of Superior Healing   450 gp        Rare
3  04-Pre   Potion of Supreme Healing  1,350 gp  Very Rare
4  05-Ere            Elixir of Health    120 gp       Rare

In [10]:
poisons.head()

  item_id                   Name   Price      Type    DC
0  01-Aed       Assassin's blood  150 gp  Ingested  10.0
1  02-Ted            Truth serum  150 gp  Ingested  11.0
2  03-Cct  Carrion crawler mucus  200 gp   Contact  13.0
3  04-Dry            Drow poison  200 gp    Injury  13.0
4  05-Sry          Serpent venom  200 gp    Injury  11.0

****

# **Data Creation**

**Passos:**

1. Filtrar as Raridades dos itens
1. Criar uma tabela que contenha todos os produtos
    * A tabela deve ter apenas informações básicas sobre os itens, como: id | nome | preço | tipo.
1. Criar uma tabela com as informações dos clientes

### **Filtrar Raridades:**

In [4]:
magic_items['Rarity'].value_counts()

Rare         114
Uncommon      83
Very Rare     63
Legendary     38
Common         2
Name: Rarity, dtype: int64

Como eu pretendo simular as vendas de um vendedor comum, não vou usar itens que sejam: Very Rare, Legendary.

In [50]:
# função para filtrar a raridade dos items
def filter_rarity(dataframe):
    unwanted = ['Very Rare', 'Legendary']
    df = dataframe.copy()
    df = df.query("Rarity not in @unwanted")
    return df

In [51]:
magic_items_filtered = filter_rarity(magic_items)

In [52]:
magic_items_filtered['Rarity'].value_counts()

Rare        114
Uncommon     83
Common        2
Name: Rarity, dtype: int64

In [53]:
potions_filtered =  filter_rarity(potions)

In [54]:
potions_filtered['Rarity'].value_counts()

Uncommon    10
Rare        10
Common       2
Name: Rarity, dtype: int64

Nenhum outro Dataset tem a coluna 'Rarity'

### **Criar tabela Produtos**

Primeiramente devo mudar as colunas 'type' para 'cetegory', depois criar uma nova coluna 'type' com o tipo de item de cada dataset.

In [55]:
# função para substituir a coluna type e colocar os nomes das colunas em minúsculo
def replace_lower_column(df):
    df = df.columns.str.lower().str.replace('type', 'category')
    return df

In [56]:
adventure_gear.columns = replace_lower_column(adventure_gear)
magic_items_filtered.columns = replace_lower_column(magic_items_filtered)
armor.columns = replace_lower_column(armor)
weapons.columns = replace_lower_column(weapons)
potions_filtered.columns =  replace_lower_column(potions_filtered)
poisons.columns = replace_lower_column(poisons)

**Criando as novas colunas 'type':**

In [57]:
adventure_gear['type'] = 'adventure_gear'
magic_items_filtered['type'] = 'magic_item'
weapons['type'] = 'weapon'
potions_filtered['type'] = 'potion'
poisons['type'] = 'poison'
armor['type'] = 'armor'

In [67]:
magic_items_filtered

,item_id,name,price,rarity,category,type
0,001-ACo,Ammunition +1 (Per),15 gp,Uncommon,Consumable Items,magic_item
1,002-ACo,Ammunition +2 (Per),50 gp,Rare,Consumable Items,magic_item
4,005-BCo,Bead of Force,"1,000 gp",Rare,Consumable Items,magic_item
5,006-CCo,Chime of Opening,400 gp,Rare,Consumable Items,magic_item
6,007-DCo,Deck of Illusions,900 gp,Uncommon,Consumable Items,magic_item
...,...,...,...,...,...,...
291,292-ICo,Instrument of the Bards - Cli Lyre,"2,500 gp",Rare,Combat Items,magic_item
292,293-ICo,Instrument of the Bards - Fochulan Bandlore,"1,500 gp",Uncommon,Combat Items,magic_item
293,294-ICo,Instrument of the Bards - Mac-Fuirmidh Cittern,"2,000 gp",Uncommon,Combat Items,magic_item
294,295-ICo,Instrument of the Bards - Doss Lute,"1,500 gp",Uncommon,Combat Items,magic_item
295,296-ICo,Instrument of the Bards - Canaith Mandolin,"2,500 gp",Rare,Combat Items,magic_item

**Criando a tabela Produtos:**

| id | nome | preço | tipo |

In [71]:
wanted_cols = ['item_id', 'name', 'price', 'type']

In [100]:
product = magic_items_filtered[wanted_cols].copy()

In [102]:
product = pd.concat([product,
                     adventure_gear[wanted_cols],
                     weapons[wanted_cols],
                     armor[wanted_cols],
                     potions_filtered[wanted_cols],
                     poisons[wanted_cols]],
                     ignore_index=True)

In [103]:
product['type'].value_counts()

magic_item        199
adventure_gear    109
weapon             37
potion             22
poison             16
armor              13
Name: type, dtype: int64

In [113]:
product.head()

   item_id                 name     price        type
0  001-ACo  Ammunition +1 (Per)     15 gp  magic_item
1  002-ACo  Ammunition +2 (Per)     50 gp  magic_item
2  005-BCo        Bead of Force  1,000 gp  magic_item
3  006-CCo     Chime of Opening    400 gp  magic_item
4  007-DCo    Deck of Illusions    900 gp  magic_item

In [142]:
# testando o relacionamento das tabelas
ammunition_itemID =  random.choices(product['item_id'].loc[product['type'] == 'magic_item'])
magic_items_filtered.query('item_id == @ammunition_itemID')

     item_id        name     price rarity      category        type
151  152-(Co  (+1) Armor  1,000 gp   Rare  Combat Items  magic_item

O relacionamento está funcionando como o desejado.

## **Criar a Tabela Cliente**

**Atributos do cliente:**


* id
* nome
* sexo
* idade
* raça
* classe
* endereço (cidade)
* contato (talvez)

In [157]:
# checando duplicatas
names.duplicated().sum()

4

In [159]:
names.drop_duplicates(inplace=True)

In [160]:
names

                    name     sex
0       Veklani  Daargen  female
1       Kasaki  Wygarthe  female
2     Rosalyn  Faringray  female
3           Atalya  Webb  female
4     Grenenzel  Lyfalia  female
..                   ...     ...
399    Dungarth  Armanci    male
400     Tavon Ambershard    male
402     Tavon  Talandro     male
403     Tavon  Drakantal    male
404   Eandro  Netheridge    male

[401 rows x 2 columns]

referência = https://bg3.wiki/wiki/Races

In [162]:
races = ['Human', 'Elf', 'Drow', 'Half-Elf', 'half-Orc', 'Halfiling', 'Dwarf', 'Gnome', 'Tiefling',
         'Githyanki', 'Dragonborn']